---
---
$color1: #d0c50c;
$color2: #fad4d1ff;
$color3: #ffd34a;
$secondary: #b7e1cd;
$color5: #00425f;
$color7: #f9fbf0;

$type-color: #1f2e14;
$link-color: #2f256a;


$standard-padding: 1rem;

* {
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 16px;
  color: $type-color;
}

a {
  color: $link-color;
  text-decoration: none;
}

h1 {
  img {
    width: 50px;
  }
}

.pill {
  background-color: white;
  padding: .8rem;
  border-radius: .1rem;
  display: inline-block;
  &.selected {
    background-color: darken($color1, 10%);
    border-bottom-color: darken($secondary, 70%);
    color: white;
  }
  &:hover {
    background-color: $color3;
    color: white;
  }
}

.header {
}

h1, h2 {
  font-family: 'Comfortaa', 'Roboto', helvetica, arial, sans-serif;
}

nav {
  a {
    margin-right: 4.8rem;
  }
  margin-bottom: 3 * $standard-padding;
  text-align: center;
}

.container {
  padding: $standard-padding;
}
.content {
  margin-bottom: 3 * $standard-padding;
}

footer {
}
